#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}

.gallery img {
  width: 450px;
  height: 250px;
}
.gallery {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 100px;
}

.button {
  width: 100px;
  height: 100px;
  background-color: #f44336;
}
